version: "3.8"

services:
  backend:
    # ❌ Removed: build:
    image: kekzki/sih-paradoxx6-backend:v1.0.0

    ports:
      - "8080"
    environment:
      # This variable is supplied by Dokply when you link the PostgreSQL resource
      DATABASE_URL: ${DB_URL}
    restart: always

  frontend:
    # ❌ Removed: build:
    image: kekzki/sih-paradoxx6-frontend:v1.0.0
    ports:
      - "80"
    restart: always
