version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
        VITE_SUPABASE_ANON_KEY: ${VITE_SUPABASE_ANON_KEY}
    networks:
      - dokploy-network
    environment:
      - VITE_API_URL=${VITE_API_URL}

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    networks:
      - dokploy-network
    ports:
      - "8080:8080"
    depends_on:
      - db
#      - ml-service
    environment:
      - NODE_ENV=production
      # Uses variable from .env
      - DATABASE_URL=postgres://user:${DB_PASSWORD}@db:5432/myappdb?sslmode=disable
      - JWT_SECRET=${JWT_SECRET}
      # This remains hardcoded as it is an internal docker network address
      - ML_SERVICE_URL=http://ml-service:8000/analyze

#  ml-service:
#    build:
#      # Correct path based on your file structure
#      context: ./backend/otolith_ml_service
#      dockerfile: Dockerfile
#    networks:
#      - dokploy-network
#    expose:
#      - "8000"

  db:
    image: postgres:16-alpine
    networks:
      - dokploy-network
    ports:
      - "5432:5432"
    volumes:
      # Using named volume for reliability
      - db_data:/var/lib/postgresql/data
      - ./paradoxx_db.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=myappdb

networks:
  dokploy-network:
    driver: bridge

volumes:
  db_data:
