version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
        VITE_SUPABASE_ANON_KEY: ${VITE_SUPABASE_ANON_KEY}

    networks:
      - dokploy-network
    environment:
      - VITE_API_URL=${VITE_API_URL}

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    networks:
      - dokploy-network
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgres://user:${DB_PASSWORD}@db:5432/myappdb?sslmode=disable
      - JWT_SECRET=${JWT_SECRET}

  db:
    image: postgres:16-alpine
    networks:
      - dokploy-network
    ports:
      - "5432:5432"
    volumes:
      - ../files/db-data:/var/lib/postgresql/data
      - ./paradoxx_db.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: myappdb

networks:
  dokploy-network:
    driver: bridge
