version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    networks:
      - dokploy-network
    environment:
      - VITE_API_URL=${VITE_API_URL}

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    networks:
      - dokploy-network
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - JWT_SECRET=${JWT_SECRET}

  db:
    image: postgres:16-alpine
    networks:
      - dokploy-network
    volumes:
      - ../files/db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: myappdb

networks:
  dokploy-network:
    external: true
